@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url("img/fundo.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    width: 40%;
    min-height: 25rem;
    
}

h2 {
    color: #12A4E3;
    text-align: center;
    margin-bottom: 30px;
}

.imagem-secao {
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.imagem-categoria {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 80%;
    height: 6rem;
    border-radius: 5px;
    text-align: right;
    background-size: cover;
}

h4 {
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: #eaeaec;
}

.imagem-categoria:nth-child(1) {
    background-image: url("img/academia.jpg");
}

.imagem-categoria:nth-child(2) {
    background-image: url("img/personal-trainer.jpg");
}

.imagem-categoria:nth-child(3) {
    background-image: url("img/atleta.jpg");
}

.login {
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    min-height: 25rem;
    border: 1px solid #eaeaec;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 0 20px;
}

.logotipo {
    width: 150px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    font-weight: bolder;
    padding-bottom: 10px;
}

label {
    width: 20%;
    color: #12a4e3;
    
}

.campo-dig {
    width: 80%;
    height: 2rem;
    border: 1px solid #eaeaec;
    border-radius: 3px;
    padding: 5px;
}

/* placeholder */
::-webkit-input-placeholder  {
    color: #bebcbc; 
    font-style: italic;
  }
   
  input:-moz-placeholder,
  textarea:-moz-placeholder{
    color: #bebcbc;
    font-style: italic;
  }

.enviar {
    margin-top: 20px;
    width: 80%;
    padding: 10px;
    border: 1px solid #12a4e3;
    background-color: #12a4e3;
    color: #eaeaec;
    font-size: 16px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.link {
    margin-top: 30px;

}

a {
    color: #12a4e3;
}


@media (max-width: 1024px) {
    wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    wrapper {
        width: 90%;
    }

    .conteudo {
        display: none;
    }

    .login {
        width: 100%;
        align-items: center;
    }
}